@mixin mobile {
	@media screen and (max-width:640px) {
		@content;
	}
}

@mixin tablet {
	@media screen and (max-width:768px) {
		@content;
	}
}

.bts-block {
	overflow: hidden;
}

.bts-container {
	padding: 0 30px;
}

.bts-banner {
	isolation: isolate;
	padding-bottom: 160px;
	padding-top: 130px;
	position: relative;
	min-height: 800px;
	height: 100vh;
	z-index: 1;

	@include mobile {
		min-height: 558px;
		height: auto;
		padding-bottom: 70px;
		padding-top: 30px;
	}
	
	.content {
		padding: 110px 0;
		@include mobile {
			padding: 80px 0;
		}
	}

	h1 {
		font-size: 40px;
		line-height: 50px;
		max-width: 1028px;
		margin: 0 auto;
		color: #FFF;
		font-weight: bold;

		@include mobile {
			font-size: 20px;
			line-height: 28px;
		}
	}
	h2 {
		margin: 0;
		margin-top: 50px !important;
		color: #03D07D;
		font-size: 70px;
		line-height: 70px;
		font-weight: bold;

		@include mobile {
			font-size: 36px;
			line-height: 40px;
			margin-top: 30px !important;
		}
	}

	p {
		max-width: 816px;
		margin: 0 auto;
		margin-top: 50px;
		color: #FFF;
		font-size: 70px;
		line-height: 70px;
		font-size: 20px;
		line-height: 27px;
		@include mobile {
			font-size: 14px;
			line-height: 22px;
			margin-top: 30px;
		}
	}

	.background {
		position: absolute;
		bottom: 0;
		right: 0;
		overflow: hidden;
		z-index: -1;
		@include mobile {
			right:0
		}

		svg {
			transform: translateX(50px) translateY(170px);

			@include mobile {
				height: 200px;
				width: auto;
				transform: translateX(98px) translateY(85px);
			}
		}
	}
}

	
.bts-card-desktop {
	display: block;
	width: calc( 100% - 60px );
	max-width: 1028px;
	border-radius: 25px;
	padding: 20px 60px;
	background: theme('colors.white');	
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%) translateY(50%);
	z-index: 10;

	@include mobile {
		display: none;
	}
	.card-nav {
		display: flex;
		width: calc( 100% + 6px );
		margin: 0 -3px;

		li {
			flex-grow: 1;
			margin: 0 3px;

			a {
				color: theme('colors.blue.tint');
				display: flex;
				width: 100%;
				height: 50px;
				justify-content: center;
				align-items: center;
				text-transform: uppercase;
				border-radius: 25px;
				background: transparent;
				text-decoration: underline;

				&:hover {
					background: theme('colors.platinum.x9');
				}

				&.is-active {
					background: theme('colors.blue.x6');
					color: theme('colors.white');
					text-decoration: none;
				}
			}
		}
	}

	.card-content{
		display: none;

		&.is-active {
			display: block;
		}
	}

	.field-wrap {

		input {
			width: 100%;
			height: 50px;
			background: theme('colors.platinum.x9');
			border-radius: 25px;
			width: 100%;
			padding: 0 20px;
			font-size: 16px;
			border: none;
			outline: none;
			box-shadow: none;

			&::placeholder {
				color: theme('colors.platinum.x6')
			}
		}

		button {
			border: none;
			outline: none;
			box-shadow: none;
			background: theme('colors.emerald.x1');
			color: theme('colors.white');
			display: flex;
			height: 50px;
			justify-content: center;
			align-items: center;
			text-transform: uppercase;
			border-radius: 25px;
			padding: 0 20px;

			&:hover {
				background: theme('colors.emerald.x4');
			}
		}
	}
	.field-agree {
		input {
			margin-top: -2px;
		}
	}

	.field-thanks {
		text-align: center;
		margin-top: 20px;
		font-size: 16px;
		line-height: 20px;
		color: #1E2945;
		display: none;

		&.is-active {
			display: block;
		}
	}

	.social {
		margin-left: -34px;
		display: flex;

		span {
			margin-left: 34px;
			display: block;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

.bts-video {
	isolation: isolate;
	position: relative;
	padding: 110px 0;
	padding-top: 160px + 110px;


	@include mobile {
		padding: 80px 0 0;
	}


	.video-wrap {
		max-width: 1028px;
		margin: 0 auto;
		border-radius: 25px;
		overflow: hidden;
		@include mobile {			
			border-radius: 0;
			margin: 0 -30px;
		}

		video {
			width: 100%;
			height: auto;
			display: block;
		}
	}
	
	.background {
		position: absolute;
		top: 0;
		right: 112px;
		overflow: hidden;
		z-index: -1;
		@include mobile {
			display: none;
		}

		svg {
		}
	}


}

.bts-people{ 
	isolation: isolate;
	position: relative;
	// z-index: -1;
	padding: 110px 0;
	text-align: center;
	background: theme('colors.blue.oxford');

	@include mobile {
		padding: 80px 0;
	}

	h3 {
		font-size: 20px;
		font-weight: bold;
		line-height: 44px;
		color: theme('colors.white');

		@include mobile {
			font-size: 20px;
			line-height:28px;
		}
	}

	h2 {
		font-size: 40px;
		line-height: 44px;
		font-weight: bold;
		color: theme('colors.emerald.x1');
		@include mobile {
			font-size: 30px;
			line-height:34px;
		}
	}

	.people {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		margin-top: 50px;

		@include tablet {
			grid-template-columns: repeat(2, 1fr);
		}

		@include mobile {
			margin-top: 40px;
			grid-template-columns: repeat(1, 1fr);
			gap: 10px;
		}
		

		
		.pbox {
			position: relative;
			background: var(--tint);
			height: 500px;
			display: block;
			
			@include mobile {
				height: 140px;
				border-radius: 20px;
				overflow: hidden;
			}
			
			
			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: inherit;
				display: block;
				z-index: 2;
				transition: 0.25s ease-in-out;
				opacity: 0;
				@include mobile {
					display: none;
				}
			}

			&-photo,
			&-photo-mob {
				position: absolute;
				right: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index:1;

				@include mobile {
					display: none;
				}

				img {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
					@include mobile {
						object-fit: contain;
						object-position: right;
					}
					
				}
			}

			&-photo-mob {
				display: none;
				@include mobile {
					display: block;
				}
			}

			&-content {
				z-index: 5;	
				position: absolute;
				width: 100%;
				bottom: 0;
				left: 0;
				text-align: left;
				padding: 40px;
				transition: 0.25s ease-in-out;
				opacity: 0;
				visibility: hidden;
				@include mobile {
					opacity: 1;
					visibility: visible;
					padding: 0 30px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					height: 100%;
				}

				h2 {
					color: theme('colors.white');

				}

				h4 {
					font-size: 20px;
					line-height: 27px;
					font-weight: normal;
					font-style: italic;
					margin-top: 40px;
					color: theme('colors.white');

					@include mobile {
						font-size: 16px;
						line-height: 22px;
						margin-top: 20px;
					}
				}
			}

			&:hover {
				&::before {
					opacity: 0.5;
				}
				.pbox-content {
					opacity: 1;
					visibility: visible;
				}
			}

			.linkedin {
				position: absolute;
				right: 20px;
				bottom: 20px;
				z-index: 15;
				@include mobile {
					right: 16px;
					bottom: auto;
					top: 16px;

					svg {
						width: 20px;
						height: auto;
					}
				}
			}
		}
	}

	.background {
		position: absolute;
		top: -72px;
		left: 100px;
		overflow: hidden;
		z-index: -1;
		@include tablet {
			display: none;
		}

		svg {
		}
	}
}

.bts-bottom {
	padding: 110px 0;

	@include mobile {
		padding: 80px 0;
	}
	
	.wrap {
		max-width: 1080px;
		margin: 0 auto;
		display: flex;
		align-items: center;

		@include mobile {
			display: block;
			text-align: center;
		}
	}
	.logo {
		margin-right: 74px;
		flex-shrink: 0;

		@include mobile {
			margin: 0;
			margin-bottom: 30px;

			svg {
				width: 64px;
				height: auto;
			}
		}
	}

	.content {
		flex-grow: 1;
		h2 {
			color: theme('colors.blue.oxford');
			font-size: 40px;
			font-weight: bold;
			line-height: 44px;
			@include mobile {
				font-size: 30px;
				line-height: 34px;
			}
		}
		p {
			color: theme('colors.blue.oxford');
			font-size: 20px;
			font-weight: 600;
			line-height: 27px;
			margin: 0;
			margin-top: 40px;
			@include mobile {
				font-size: 14px;
				line-height: 22px;
				margin-top: 30px;
			}
		}
	}
}


.bts-card-mobile {
	display: none;
	background: #1E2945;
	padding: 0 30px;
	margin-top: -30px;


	@include mobile {
		display: block;
	}

	.card-content {
		background: #FFF;
		padding: 47px 20px;
		border-radius: 20px;
		position: relative;
		box-sizing: border-box;
		height: 100%;

		h2 {
			font-size: 14px;
			line-height: 19px;
			font-weight: bold;
			color: #fff;
			background: #405EFE;
			padding: 0 20px;
			display: flex;
			align-items: center;
			text-transform: uppercase;
			border-radius: 20px;
			width: max-content;
			height: 34px;
			top: -17px;
			left: 50%;
			position: absolute;
			transform: translateX(-50%);
			min-width: 225px;
			justify-content: center;
		}

		h3 {
			font-size: 30px;
			line-height: 34px;
			font-weight: bold;
			color: #1E2945;
			max-width: 248px;

			span {
				color: #405EFE;
			}
		}

		p {			
			font-size:14px;
			line-height: 19px;
			color: #0D152B;
			margin-top: 20px;
		}
		
		.social {
			display: flex;
			justify-content: space-around;
			margin-top: 15px;
	
			span {
				display: flex;					
				align-items: center;
				justify-content: center;
			}
		}

		.email {
			color: #03D07D;
			text-decoration: underline;
			font-size: 20px;
			line-height: 27px;
			text-align: center;
			margin-top: 15px;
			a {
				color: currentColor;
			}
		}

		.btn {
			border: none;
			outline: none;
			box-shadow: none;
			background: theme('colors.emerald.x1');
			color: theme('colors.white');
			display: inline-flex;
			height: 40px;
			justify-content: center;
			align-items: center;
			text-transform: uppercase;
			border-radius: 20px;
			padding: 0 15px;

			&:hover {
				background: theme('colors.emerald.x4');
			}
		}

		.btn-wrap {
			margin: 30px 0 20px;
			text-align: center;
		}

		form {
			margin-top: 30px;
		}
		.fields {
			position: relative;

			input {
				width: 100%;
				height: 40px;
				background: theme('colors.platinum.x9');
				border-radius: 20px;
				width: 100%;
				padding: 0 20px;
				font-size: 16px;
				border: none;
				outline: none;
				box-shadow: none;
				box-sizing: border-box;
				padding-right: 120px;
	
				&::placeholder {
					color: theme('colors.platinum.x6')
				}
			}
	
			button {				
				position: absolute;
				right: 0;
				top: 0;
			}
		}
		.field-agree {
			label {
				font-size:14px;
				line-height: 19px;
				margin-left: 15px;
				color: #0D152B;
			}
		}
		.field-thanks {
			text-align: center;
			font-size: 16px;
			line-height: 20px;
			color: #1E2945;
			display: none;
			position: absolute;
			padding: 0;
			width: 100%;
			left: 0;
			margin-top: 6px;
	
			&.is-active {
				display: block;
			}
		}
	}

	.swiper {
		overflow: visible;
		
		.swiper-slide {
			height: auto;
		}

		.swiper-pagination {
			bottom: -33px;

			&-bullet {
				background: #CCCCCC;
				width: 6px;
				height: 6px;
				opacity:  0.4;
				margin: 0 5px;

				&-active {
					opacity: 1;
				}
			}
		}
	}
}