@import './inc/bundle.css';

$text-blue: #1E2945;
$text-blue-light: #0021C7;
$bg-blue: #0d152b;
$bg-blue-light: #1E2945;
$white: white;
$white2: #E6E6E6;
$transition: 0.2s ease-in-out;

@mixin mobile {
	@media screen and (max-width: 767px) {
		@content;
	}
}

@mixin tablet {
	@media screen and (max-width: 900px) {
		@content;
	}
}

// NAVBAR
.navbar-item {
	font-size: 1rem;
	font-weight: 700;
	color: white;

	a {
		font-size: 1rem;
		font-weight: 700;
		color: white;
	}
}

.navbar-end {
	gap: 30px;
	display: flex;
	align-items: center;
	padding-right: 0.75rem;

	@include mobile {
		gap: 20px;
	}

	.navbar-item,
	.navbar-link {
		padding: 0;
	}

	.button {
		@include mobile {
			font-size: 14px;
			padding: 15px;
		}
	}
}

// NEWSLETTER
.newsletter {
	.thanks {
		color: $white;
		transition: $transition;
		opacity: 0;
		visibility: hidden;

		&.is-active {
			opacity: 1;
			visibility: visible;
		}
	}
}

.page-container {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
	--drawer-w: 320px;

	.page-header {
		transition: $transition;
	}

	.page-main {
		position: relative;
		width: 100%;
		height: auto;
		transition: $transition;
	}

	.page-drawer {
		transition: $transition;
		position: fixed;
		left: 100%;
		top: 0;
		height: 100%;
		width: var(--drawer-w);
		background: $white;
		z-index: 9;
		padding-top: 80px;

		.drawer-close {
			position: absolute;
			top: 30px;
			left: 50%;
			transform: translateX(-50%);
			cursor: pointer;

			img {
				display: block;
			}
		}
	}


	&.drawer-open {
		.page-header {
			transform: translateX(calc(var(--drawer-w) * -1));
		}

		.page-main {
			transform: translateX(calc(var(--drawer-w) * -1));
		}

		.page-drawer {
			transform: translateX(calc(var(--drawer-w) * -1));
		}
	}
}

.blog-header {
	padding-top: calc(8.438rem + 50px);
	background-color: #0d152b;
	padding-bottom: 30px;

	.title {
		font-size: 4.375rem;
		line-height: 4.375rem;

		@include mobile {
			font-size: 2.375rem;
			line-height: 1.5;
		}
	}

	.search {
		margin-left: auto;
		align-items: center;
		max-width: 400px;
		width: 100%;
		position: relative;


		input {
			display: block;
			border-radius: 50px;
			height: 50px;
			background-color: #1E2945;
			box-shadow: none;
			outline: none;
			border: none;
			padding: 0 30px;
			font-size: 16px;
			width: 100%;
			color: white;
		}

		button {
			position: absolute;
			right: 5px;
			top: 0;
			height: 50px;
			width: 50px;
			background: transparent;
			box-shadow: none;
			outline: none;
			border: none;
			border-radius: 50px;
			display: flex;
			justify-content: center;
			align-items: center;


			img {
				display: block;
			}
		}
	}

	.button-group {
		display: flex;
		gap: 50px;
		align-items: center;
	}

	.button-wrap {
		a {
			font-size: 16px;
			font-weight: 700;
			color: white;
			text-decoration: underline;
		}
	}

	.custom-select {
		.select-selected {
			background: transparent;
			color: white;
			box-shadow: none;
			padding-right: 40px;

			&::after {
				border-color: currentColor;
			}
		}

		.select-items {
			white-space: nowrap;
			right: auto;
			left: 50%;
			transform: translateX(-50%);
			padding: 10px 15px 15px;
			border-radius: 25px;

			div {
				margin: 4px 0 0;
			}
		}
	}
}

.blog-masonry {
	background: $bg-blue;
	padding-bottom: 80px;
	border-bottom: 1px solid $bg-blue-light;

	.masonry {
		display: relative;

		.masonry-item {
			// position: absolute;
		}
	}

	.card {
		border-radius: 20px;
		overflow: hidden;
		background-color: transparent;

		.card-image {
			position: relative;
		}

		.card-date {
			display: flex;
			padding: 0 10px;
			height: 30px;
			background: $white;
			color: $text-blue;
			justify-content: center;
			align-items: center;
			font-size: 14px;
			font-weight: 700;
			position: absolute;
			left: 20px;
			bottom: 20px;
			border-radius: 25px;
		}

		.card-content {
			padding: 30px 20px;
			background: $bg-blue-light;
			color: $white;
		}

		.card-title {
			font-size: 20px;
			line-height: 27px;
			font-weight: 700;
			margin-bottom: 15px;

			a {
				color: currentColor;
			}
		}

		.card-excerpt {
			opacity: 0.7;

			p+p {
				margin-top: 0.5em;
			}
		}

		.card-tags {
			margin-top: 20px;
			display: flex;
			gap: 10px;

			a {
				font-size: 14px;
				font-weight: 700;
				text-decoration: underline;
				color: $white;
			}
		}
	}

	.blog-loader {
		display: flex;
		justify-content: center;
		margin-top: 30px;

		figure {
			img {
				display: block;
				transition: $transition;
				transform-origin: center bottom;
			}

			&:hover {
				img {
					transform: scale(0.7);
				}
			}
		}
	}
}

.blog-tags {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	justify-content: center;
	min-height: 100%;
	;

	a {
		font-size: 20px;
		line-height: 27px;
		color: $text-blue-light;
		font-weight: 700;
	}

}

.blog-hero {
	padding-top: calc(8.438rem + 50px);
	max-height: 750px;
	height: 100vh;
	position: relative;
	background-color: $bg-blue;
	background-image: var(--bg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;

	@include mobile {
		padding-top: calc(4.438rem + 50px);
		height: 70vh;
		min-height: 500px;
	}

	&.has-overlay {
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(to top, #0D152B, transparent);
			opacity: 0.7;

			@include mobile {
				opacity: 0.7;
				backdrop-filter: blur(2px);
			}
		}
	}

	.title {
		font-size: 4.375rem;
		line-height: 4.375rem;
		color: $white;
		font-weight: 700;
		margin-bottom: 60px;

		@include mobile {
			font-size: 2rem;
			line-height: 2.2rem;
			margin-bottom: 0;
		}
	}

	.back {
		display: flex;
		margin-bottom: 50px;
		width: 50px;
		height: 50px;
		border-radius: 25px;
		justify-content: center;
		align-items: center;
		background: $white;

		@include mobile {
			margin-bottom: 30px;
		}

		img {
			display: block;
			height: 16px;
			width: auto;
		}
	}
}

.blog-info {
	padding: 2.5rem 1.5rem;

	.tags {
		display: inline-flex;
		margin: 0 -7.5px;

		li {
			padding: 0 7.5px;
		}

		a {
			font-weight: 700;
			color: $text-blue-light;
			text-decoration: underline;
		}
	}

	.date {
		display: inline-flex;
		padding: 0 10px;
		height: 30px;
		background: $white2;
		color: $text-blue;
		justify-content: center;
		align-items: center;
		font-size: 14px;
		font-weight: 700;
		border-radius: 25px;
	}

	.social {
		display: inline-flex;
		margin: 0 -15px;

		li {
			margin: 0 15px;
		}
	}

	.tooltip {
		position: relative;

		>span.tooltip-text {
			position: absolute;
			white-space: nowrap;
			left: 50%;
			top: 100%;
			transform: translateX(-50%);
			background: $bg-blue;
			padding: 3px 10px;
			border-radius: 4px;
			font-size: 0.75rem;
			color: $white;
			display: block;
			z-index: 1;
			transition: $transition;
			opacity: 0;
			visibility: hidden;

			&::before {
				content: "";
				position: absolute;
				display: block;
				left: 50%;
				top: 0;
				width: 10px;
				height: 10px;
				background: $bg-blue;
				// background: red;
				transform: rotate(45deg) translateX(-50%);
				z-index: -1;
			}
		}

		&.tooltip-active {
			>span.tooltip-text {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.blog-content {
	padding-top: 1rem;

	.content {
		max-width: 816px;
		margin: 0 auto 120px;


		h1 {
			margin-bottom: 1.25em;

			@include mobile {
				font-size: 1.55em;
			}
		}

		h2 {
			margin-bottom: 1.45em;

			@include mobile {
				font-size: 1.35em;
			}
		}

		p {
			margin-bottom: 1.5em;
			opacity: 0.8;
		}

		ol,
		ul {
			opacity: 0.8;
			margin-bottom: 2.5rem;
			margin-left: 3.5rem;

			@include mobile {
				margin-left: 3rem;
			}

			li {
				padding-left: 10px;
				margin-bottom: 1.5em;

				&::marker {
					font-weight: 700;
				}
			}
		}

		a {
			color: $text-blue-light;
			text-decoration: underline;
		}

		.wp-block-image {
			margin: 5rem 0 4rem;

			@include mobile {
				margin: 4rem 0 3rem;
			}

			img {
				display: block;
				width: 100%;
				height: auto;
			}
		}

		hr {
			background: #E6E6E6;
			border: none;
			height: 1px;
			width: 100%;
			margin: 4rem 0;

			@include mobile {
				margin: 3.5rem 0;
			}
		}

		blockquote {
			font-size: 2rem;
			line-height: 1.25em;
			color: #808080;
			padding: 0;
			border: none;
			font-style: italic;
			font-weight: 600;

			margin-bottom: 1.45em;

			@include mobile {
				font-size: 1.65rem;
			}

			p:last-child {
				margin-bottom: 0;
			}

			p:first-child:before {
				content: "“";
				// margin-right: -4px;
			}

			p:last-child:after {
				content: "”";
				// margin-left: -6px;
			}

			&.no-qoute {

				p::before,
				p::after {
					content: none !important;
				}
			}
		}

		.wp-block-gallery {
			margin: 3.8rem 0;

			.blocks-gallery-grid {
				margin: 0;
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				gap: 32px;

				@include mobile {
					grid-template-columns: repeat(1, 1fr);
				}
			}

			.blocks-gallery-item {
				padding: 0;
				margin: 0;
				width: auto;

				figure {
					display: block;
				}

				img {
					height: auto;
					width: 100%;
				}

				&__caption {
					position: relative;
					background: transparent;
					color: $text-blue;
					opacity: 0.8;
					text-align: left;
					padding: 0;
					margin-top: 20px;
					font-style: normal;
					font-size: 1rem;
				}
			}
		}


		>*:last-child {
			margin-bottom: 0;
		}
	}
}

.blog-related {
	background: $bg-blue;
	padding-bottom: 80px;
	border-bottom: 1px solid $bg-blue-light;

	@include tablet {
		padding-right: 0;
		padding-left: 0;
	}

	.container {
		margin-top: -6rem;
		overflow: hidden;
	}

	.grid {
		display: grid;
		gap: 32px;
		grid-template-columns: repeat(3, 1fr);

		@include tablet {
			display: flex;
			margin: 0 -16px;
			overflow-x: auto;
		}

		.card {
			@include tablet {
				margin: 0 16px;
				flex: 1 0 300px;

				&:first-child {
					margin-left: calc(16px + 1.5rem);
				}

				&:last-child {
					margin-right: calc(16px + 1.5rem);
				}
			}
		}
	}

	.card {
		border-radius: 20px;
		overflow: hidden;
		background: $bg-blue-light;

		.card-date {
			display: inline-flex;
			padding: 0 10px;
			height: 30px;
			background: $white;
			color: $text-blue;
			justify-content: center;
			align-items: center;
			font-size: 14px;
			font-weight: 700;
			border-radius: 25px;
			margin-bottom: 20px;
		}

		.card-content {
			padding: 30px 20px;
			color: $white;
		}

		.card-title {
			font-size: 20px;
			line-height: 27px;
			font-weight: 700;
			margin-bottom: 15px;

			a {
				color: currentColor;
			}
		}

		.card-excerpt {
			opacity: 0.7;

			p+p {
				margin-top: 0.5em;
			}
		}

		.card-tags {
			margin-top: 20px;
			display: flex;
			gap: 10px;

			a {
				font-size: 14px;
				font-weight: 700;
				text-decoration: underline;
				color: $white;
			}
		}
	}
}

.swiper-container {
	overflow: hidden;
}