*, ::before, ::after {
  border-color: currentColor;
}
.tw-m-0 {
  margin: 0px !important;
}
.tw-mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.tw-mb-40 {
  margin-bottom: 40px !important;
}
.tw-mb-2 {
  margin-bottom: 2px !important;
}
.tw-ml-32 {
  margin-left: 32px !important;
}
.tw-mt-20 {
  margin-top: 20px !important;
}
.tw-ml-10 {
  margin-left: 10px !important;
}
.tw-flex {
  display: flex !important;
}
.tw-w-180 {
  width: 180px !important;
}
.tw-max-w-\[550px\] {
  max-width: 550px !important;
}
.tw-max-w-\[600px\] {
  max-width: 600px !important;
}
.tw-flex-grow {
  flex-grow: 1 !important;
}
.tw-flex-col {
  flex-direction: column !important;
}
.tw-items-center {
  align-items: center !important;
}
.tw-justify-center {
  justify-content: center !important;
}
.tw-border-0 {
  border-width: 0px !important;
}
.tw-border-r-2 {
  border-right-width: 2px !important;
}
.tw-border-solid {
  border-style: solid !important;
}
.tw-border-blue-oxford {
  --tw-border-opacity: 1 !important;
  border-color: rgba(13, 21, 43, var(--tw-border-opacity)) !important;
}
.tw-bg-blue-oxford {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(13, 21, 43, var(--tw-bg-opacity)) !important;
}
.tw-bg-blue-tint {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(30, 41, 69, var(--tw-bg-opacity)) !important;
}
.tw-pr-50 {
  padding-right: 50px !important;
}
.tw-pl-50 {
  padding-left: 50px !important;
}
.tw-text-center {
  text-align: center !important;
}
.tw-text-40x50 {
  font-size: 40px !important;
  line-height: 50px !important;
}
.tw-text-14x22 {
  font-size: 14px !important;
  line-height: 22px !important;
}
.tw-text-20x27 {
  font-size: 20px !important;
  line-height: 27px !important;
}
.tw-font-bold {
  font-weight: 700 !important;
}
.tw-text-white {
  --tw-text-opacity: 1 !important;
  color: rgba(255, 255, 255, var(--tw-text-opacity)) !important;
}
.tw-text-blue-tint {
  --tw-text-opacity: 1 !important;
  color: rgba(30, 41, 69, var(--tw-text-opacity)) !important;
}
.tw-text-blue-oxford {
  --tw-text-opacity: 1 !important;
  color: rgba(13, 21, 43, var(--tw-text-opacity)) !important;
}
.tw-text-current {
  color: currentColor !important;
}
.tw-text-blue-x6 {
  --tw-text-opacity: 1 !important;
  color: rgba(64, 94, 254, var(--tw-text-opacity)) !important;
}
.tw-text-emerald-x1 {
  --tw-text-opacity: 1 !important;
  color: rgba(3, 208, 125, var(--tw-text-opacity)) !important;
}
.tw-underline {
  text-decoration: underline !important;
}
:root {
  --nav-height: 135px;
}

.bts-block {
  overflow: hidden;
}

.bts-container {
  padding: 0 30px;
}

.bts-banner {
  isolation: isolate;
  padding-bottom: 160px;
  padding-top: 130px;
  position: relative;
  min-height: 800px;
  height: 100vh;
  z-index: 1;
}
@media screen and (max-width: 640px) {
  .bts-banner {
    min-height: 558px;
    height: auto;
    padding-bottom: 70px;
    padding-top: 30px;
  }
}
.bts-banner .content {
  padding: 110px 0;
}
@media screen and (max-width: 640px) {
  .bts-banner .content {
    padding: 80px 0;
  }
}
.bts-banner h1 {
  font-size: 40px;
  line-height: 50px;
  max-width: 1028px;
  margin: 0 auto;
  color: #FFF;
  font-weight: bold;
}
@media screen and (max-width: 640px) {
  .bts-banner h1 {
    font-size: 20px;
    line-height: 28px;
  }
}
.bts-banner h2 {
  margin: 0;
  margin-top: 50px !important;
  color: #03D07D;
  font-size: 70px;
  line-height: 70px;
  font-weight: bold;
}
@media screen and (max-width: 640px) {
  .bts-banner h2 {
    font-size: 36px;
    line-height: 40px;
    margin-top: 30px !important;
  }
}
.bts-banner p {
  max-width: 816px;
  margin: 0 auto;
  margin-top: 50px;
  color: #FFF;
  font-size: 70px;
  line-height: 70px;
  font-size: 20px;
  line-height: 27px;
}
@media screen and (max-width: 640px) {
  .bts-banner p {
    font-size: 14px;
    line-height: 22px;
    margin-top: 30px;
  }
}
.bts-banner .background {
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
}
@media screen and (max-width: 640px) {
  .bts-banner .background {
    right: 0;
  }
}
.bts-banner .background svg {
  transform: translateX(50px) translateY(170px);
}
@media screen and (max-width: 640px) {
  .bts-banner .background svg {
    height: 200px;
    width: auto;
    transform: translateX(98px) translateY(85px);
  }
}

.bts-card-desktop {
  display: block;
  width: calc( 100% - 60px );
  max-width: 1028px;
  border-radius: 25px;
  padding: 20px 60px;
  background: #FFFFFF;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  z-index: 10;
}
@media screen and (max-width: 640px) {
  .bts-card-desktop {
    display: none;
  }
}
.bts-card-desktop .card-nav {
  display: flex;
  width: calc( 100% + 6px );
  margin: 0 -3px;
}
.bts-card-desktop .card-nav li {
  flex-grow: 1;
  margin: 0 3px;
}
.bts-card-desktop .card-nav li a {
  color: #1E2945;
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-radius: 25px;
  background: transparent;
  text-decoration: underline;
}
.bts-card-desktop .card-nav li a:hover {
  background: #f2f2f2;
}
.bts-card-desktop .card-nav li a.is-active {
  background: #405efe;
  color: #FFFFFF;
  text-decoration: none;
}
.bts-card-desktop .card-content {
  display: none;
}
.bts-card-desktop .card-content.is-active {
  display: block;
}
.bts-card-desktop .field-wrap input {
  width: 100%;
  height: 50px;
  background: #f2f2f2;
  border-radius: 25px;
  width: 100%;
  padding: 0 20px;
  font-size: 16px;
  border: none;
  outline: none;
  box-shadow: none;
}
.bts-card-desktop .field-wrap input::-moz-placeholder {
  color: #999999;
}
.bts-card-desktop .field-wrap input:-ms-input-placeholder {
  color: #999999;
}
.bts-card-desktop .field-wrap input::placeholder {
  color: #999999;
}
.bts-card-desktop .field-wrap button {
  border: none;
  outline: none;
  box-shadow: none;
  background: #03D07D;
  color: #FFFFFF;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-radius: 25px;
  padding: 0 20px;
}
.bts-card-desktop .field-wrap button:hover {
  background: #029C5E;
}
.bts-card-desktop .field-agree input {
  margin-top: -2px;
}
.bts-card-desktop .field-thanks {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  line-height: 20px;
  color: #1E2945;
  display: none;
}
.bts-card-desktop .field-thanks.is-active {
  display: block;
}
.bts-card-desktop .social {
  margin-left: -34px;
  display: flex;
}
.bts-card-desktop .social span {
  margin-left: 34px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bts-video {
  isolation: isolate;
  position: relative;
  padding: 110px 0;
  padding-top: 270px;
}
@media screen and (max-width: 640px) {
  .bts-video {
    padding: 80px 0 0;
  }
}
.bts-video .video-wrap {
  max-width: 1028px;
  margin: 0 auto;
  border-radius: 25px;
  overflow: hidden;
}
@media screen and (max-width: 640px) {
  .bts-video .video-wrap {
    border-radius: 0;
    margin: 0 -30px;
  }
}
.bts-video .video-wrap video {
  width: 100%;
  height: auto;
  display: block;
}
.bts-video .background {
  position: absolute;
  top: 0;
  right: 112px;
  overflow: hidden;
  z-index: -1;
}
@media screen and (max-width: 640px) {
  .bts-video .background {
    display: none;
  }
}
.bts-people {
  isolation: isolate;
  position: relative;
  padding: 110px 0;
  text-align: center;
  background: #0d152b;
}
@media screen and (max-width: 640px) {
  .bts-people {
    padding: 80px 0;
  }
}
.bts-people h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 44px;
  color: #FFFFFF;
}
@media screen and (max-width: 640px) {
  .bts-people h3 {
    font-size: 20px;
    line-height: 28px;
  }
}
.bts-people h2 {
  font-size: 40px;
  line-height: 44px;
  font-weight: bold;
  color: #03D07D;
}
@media screen and (max-width: 640px) {
  .bts-people h2 {
    font-size: 30px;
    line-height: 34px;
  }
}
.bts-people .people {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .bts-people .people {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 640px) {
  .bts-people .people {
    margin-top: 40px;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}
.bts-people .people .pbox {
  position: relative;
  background: var(--tint);
  height: 500px;
  display: block;
}
@media screen and (max-width: 640px) {
  .bts-people .people .pbox {
    height: 140px;
    border-radius: 20px;
    overflow: hidden;
  }
}
.bts-people .people .pbox::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  display: block;
  z-index: 2;
  transition: 0.25s ease-in-out;
  opacity: 0;
}
@media screen and (max-width: 640px) {
  .bts-people .people .pbox::before {
    display: none;
  }
}
.bts-people .people .pbox-photo, .bts-people .people .pbox-photo-mob {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
@media screen and (max-width: 640px) {
  .bts-people .people .pbox-photo, .bts-people .people .pbox-photo-mob {
    display: none;
  }
}
.bts-people .people .pbox-photo img, .bts-people .people .pbox-photo-mob img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media screen and (max-width: 640px) {
  .bts-people .people .pbox-photo img, .bts-people .people .pbox-photo-mob img {
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: right;
       object-position: right;
  }
}
.bts-people .people .pbox-photo-mob {
  display: none;
}
@media screen and (max-width: 640px) {
  .bts-people .people .pbox-photo-mob {
    display: block;
  }
}
.bts-people .people .pbox-content {
  z-index: 5;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: left;
  padding: 40px;
  transition: 0.25s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
@media screen and (max-width: 640px) {
  .bts-people .people .pbox-content {
    opacity: 1;
    visibility: visible;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}
.bts-people .people .pbox-content h2 {
  color: #FFFFFF;
}
.bts-people .people .pbox-content h4 {
  font-size: 20px;
  line-height: 27px;
  font-weight: normal;
  font-style: italic;
  margin-top: 40px;
  color: #FFFFFF;
}
@media screen and (max-width: 640px) {
  .bts-people .people .pbox-content h4 {
    font-size: 16px;
    line-height: 22px;
    margin-top: 20px;
  }
}
.bts-people .people .pbox:hover::before {
  opacity: 0.5;
}
.bts-people .people .pbox:hover .pbox-content {
  opacity: 1;
  visibility: visible;
}
.bts-people .people .pbox .linkedin {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 15;
}
@media screen and (max-width: 640px) {
  .bts-people .people .pbox .linkedin {
    right: 16px;
    bottom: auto;
    top: 16px;
  }
  .bts-people .people .pbox .linkedin svg {
    width: 20px;
    height: auto;
  }
}
.bts-people .background {
  position: absolute;
  top: -72px;
  left: 100px;
  overflow: hidden;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .bts-people .background {
    display: none;
  }
}
.bts-bottom {
  padding: 110px 0;
}
@media screen and (max-width: 640px) {
  .bts-bottom {
    padding: 80px 0;
  }
}
.bts-bottom .wrap {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 640px) {
  .bts-bottom .wrap {
    display: block;
    text-align: center;
  }
}
.bts-bottom .logo {
  margin-right: 74px;
  flex-shrink: 0;
}
@media screen and (max-width: 640px) {
  .bts-bottom .logo {
    margin: 0;
    margin-bottom: 30px;
  }
  .bts-bottom .logo svg {
    width: 64px;
    height: auto;
  }
}
.bts-bottom .content {
  flex-grow: 1;
}
.bts-bottom .content h2 {
  color: #0d152b;
  font-size: 40px;
  font-weight: bold;
  line-height: 44px;
}
@media screen and (max-width: 640px) {
  .bts-bottom .content h2 {
    font-size: 30px;
    line-height: 34px;
  }
}
.bts-bottom .content p {
  color: #0d152b;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  margin: 0;
  margin-top: 40px;
}
@media screen and (max-width: 640px) {
  .bts-bottom .content p {
    font-size: 14px;
    line-height: 22px;
    margin-top: 30px;
  }
}

.bts-card-mobile {
  display: none;
  background: #1E2945;
  padding: 0 30px;
  margin-top: -30px;
}
@media screen and (max-width: 640px) {
  .bts-card-mobile {
    display: block;
  }
}
.bts-card-mobile .card-content {
  background: #FFF;
  padding: 47px 20px;
  border-radius: 20px;
  position: relative;
  box-sizing: border-box;
  height: 100%;
}
.bts-card-mobile .card-content h2 {
  font-size: 14px;
  line-height: 19px;
  font-weight: bold;
  color: #fff;
  background: #405EFE;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  border-radius: 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 34px;
  top: -17px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  min-width: 225px;
  justify-content: center;
}
.bts-card-mobile .card-content h3 {
  font-size: 30px;
  line-height: 34px;
  font-weight: bold;
  color: #1E2945;
  max-width: 248px;
}
.bts-card-mobile .card-content h3 span {
  color: #405EFE;
}
.bts-card-mobile .card-content p {
  font-size: 14px;
  line-height: 19px;
  color: #0D152B;
  margin-top: 20px;
}
.bts-card-mobile .card-content .social {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
.bts-card-mobile .card-content .social span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bts-card-mobile .card-content .email {
  color: #03D07D;
  text-decoration: underline;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  margin-top: 15px;
}
.bts-card-mobile .card-content .email a {
  color: currentColor;
}
.bts-card-mobile .card-content .btn {
  border: none;
  outline: none;
  box-shadow: none;
  background: #03D07D;
  color: #FFFFFF;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 0 15px;
}
.bts-card-mobile .card-content .btn:hover {
  background: #029C5E;
}
.bts-card-mobile .card-content .btn-wrap {
  margin: 30px 0 20px;
  text-align: center;
}
.bts-card-mobile .card-content form {
  margin-top: 30px;
}
.bts-card-mobile .card-content .fields {
  position: relative;
}
.bts-card-mobile .card-content .fields input {
  width: 100%;
  height: 40px;
  background: #f2f2f2;
  border-radius: 20px;
  width: 100%;
  padding: 0 20px;
  font-size: 16px;
  border: none;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
  padding-right: 120px;
}
.bts-card-mobile .card-content .fields input::-moz-placeholder {
  color: #999999;
}
.bts-card-mobile .card-content .fields input:-ms-input-placeholder {
  color: #999999;
}
.bts-card-mobile .card-content .fields input::placeholder {
  color: #999999;
}
.bts-card-mobile .card-content .fields button {
  position: absolute;
  right: 0;
  top: 0;
}
.bts-card-mobile .card-content .field-agree label {
  font-size: 14px;
  line-height: 19px;
  margin-left: 15px;
  color: #0D152B;
}
.bts-card-mobile .card-content .field-thanks {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #1E2945;
  display: none;
  position: absolute;
  padding: 0;
  width: 100%;
  left: 0;
  margin-top: 6px;
}
.bts-card-mobile .card-content .field-thanks.is-active {
  display: block;
}
.bts-card-mobile .swiper {
  overflow: visible;
}
.bts-card-mobile .swiper .swiper-slide {
  height: auto;
}
.bts-card-mobile .swiper .swiper-pagination {
  bottom: -33px;
}
.bts-card-mobile .swiper .swiper-pagination-bullet {
  background: #CCCCCC;
  width: 6px;
  height: 6px;
  opacity: 0.4;
  margin: 0 5px;
}
.bts-card-mobile .swiper .swiper-pagination-bullet-active {
  opacity: 1;
}
