<section class="section one-troop">
    <div class="container">
        <div class="columns">

            <div class="column is-6-desktop">
                <div class="headings has-text-centered-mobile">

                    <h3 class="title is-spaced is-size-1-desktop is-size-3-mobile">
                        One TROOP from all over the world

                    </h3>
                    <p class="subtitle-bis is-size-5-desktop is-size-7-mobile">
                        Our team works together remotely from across the globe.
                    </p>
                </div>
            </div>
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="feature-wrapper big-thumb">
                    <img src="http://troop.kinsta.cloud/wp-content/uploads/2022/04/career1.jpg" alt="">
                </div>
                <div class="feature-wrapper small-thumb1">
                    <img src="http://troop.kinsta.cloud/wp-content/uploads/2022/04/career2.jpg" alt="">
                </div>
                <div class="feature-wrapper small-thumb2">
                    <img src="http://troop.kinsta.cloud/wp-content/uploads/2022/04/career3.jpg" alt="">
                </div>
                <div class="feature-wrapper small-thumb3">
                    <img src="http://troop.kinsta.cloud/wp-content/uploads/2022/04/career4.jpg" alt="">
                </div>
                <div class="feature-wrapper small-thumb4">
                    <img src="http://troop.kinsta.cloud/wp-content/uploads/2022/04/career5.jpg" alt="">
                </div>
                <div class="feature-wrapper extra-thumbs">
                    <img src="http://troop.kinsta.cloud/wp-content/uploads/2022/04/career6.jpg" alt="">
                </div>
                <div class="feature-wrapper extra-thumbs">
                    <img src="http://troop.kinsta.cloud/wp-content/uploads/2022/04/career7.jpg" alt="">
                </div>
                <div class="feature-wrapper  extra-thumbs">
                    <img src="http://troop.kinsta.cloud/wp-content/uploads/2022/04/career8.jpg" alt="">
                </div>
                <div class="feature-wrapper  extra-thumbs">
                    <img src="http://troop.kinsta.cloud/wp-content/uploads/2022/04/career9.jpg" alt="">
                </div>
                <div class="feature-wrapper  extra-thumbs">
                    <img src="http://troop.kinsta.cloud/wp-content/uploads/2022/04/career10.jpg" alt="">
                </div>
                <div class="feature-wrapper extra-thumbs">
                    <img src="http://troop.kinsta.cloud/wp-content/uploads/2022/04/career11.jpg" alt="">
                </div>
                <div class="feature-wrapper extra-thumbs">
                    <img src="http://troop.kinsta.cloud/wp-content/uploads/2022/04/career12.jpg" alt="">
                </div>
                <div class="feature-wrapper  extra-thumbs">
                    <img src="http://troop.kinsta.cloud/wp-content/uploads/2022/04/career13.jpg" alt="">
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="columns is-multiline is-gapless">
            <div class="column is-12 is-hidden-mobile has-text-right">
                <a href="javascript:void(0)" id="seeMore" class="seemore-btn">See more <img
                        src="http://troop.kinsta.cloud/wp-content/uploads/2022/03/arrow-down.png" alt=""></a>
            </div>
            <div class="column is-8 tw-mx-auto mt-5 mb-5">
                <iframe class="w-full aspect-video " src="https://www.youtube.com/embed/14zv5h3Fakg?rel=0"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="column is-12 is-hidden-mobile has-text-centered mt-4">
                <a href="#be-a-trooper" class="button is-primary">Browse available jobs</a>
            </div>
        </div>
        <hr />
    </div>
</section>